<% if (success_msg.length > 0) { %>
    <div class="colorb-successfully paddingt-20 paddingb-20 hide" style="transition: 1.0s">
        <h3 class="colort-white text-center display-in-initial paddingl-20"><%= success_msg %> </h3>
        <div class="float-right display-in-block paddingr-20">
            <button class="btn-6" onclick="hide()">X</button>
        </div>
    </div>
<% } %>

<script>
    const button = document.querySelector('.hide')
    const hide = () => button.style.display = "none";
</script>


