<%- include('../partials/head'); %>
<%- include("../messages/errors"); %>
<%- include("../messages/messages"); %>

<body class="colorb-qepal ">
  <div class="border-1 borderr-3 center-things text-center paddingt-10 paddingr-60 paddingl-60 paddingb-10 colorb-gray">
    <h1 class="colort-white">Singup</h1>
    <form action="/singup" method="POST">

      <div class="paddingt-10 paddingb-10">
        <input type="text" name="name" class="border-1 paddingt-5 paddingb-5 text-center" placeholder="name" autofocus
          required />
      </div>
      <div class="paddingt-10 paddingb-10">
        <input type="email" name="email" class="border-1 paddingt-5 paddingb-5 text-center" placeholder="email"
          required>
      </div>
      <div class="paddingt-10 paddingb-10">
        <input type="password" name="password" class="border-1 paddingt-5 paddingb-5 text-center" placeholder="password"
          required>
      </div>
      <div class="paddingt-10 paddingb-10">
        <input type="password" name="confirm_password" class="border-1 paddingt-5 paddingb-5 text-center"
          placeholder="confirm password" required>
      </div>
      <div class="paddingt-10 paddingb-10">
        <input type="text" name="direction" class="border-1 paddingt-5 paddingb-5 text-center"
          placeholder="Wallet direction" required>
      </div>

      <div class="paddingt-20 paddingb-20">
        <input type="submit" value="Register" class="btn-7">
      </div>
    </form>
    <a href="/singin" class="colort-white text-decoration-none">Singin</a>
  </div>
</body>